/* Importation de la police Fredoka */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/* Corps principal */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin-top: 30px;
  background-color: #f3f6fd; /* Fond bleu-gris clair */
  color: #4a6572; /* Bleu-gris foncé */
  padding: 20px;
}

/* Boîte de dialogue */
.dialog-box {
  border: 3px solid #b0bec5; /* Bordure bleu-gris moyen */
  background-color: #e0e6ed; /* Fond bleu-gris clair */
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
  margin-bottom: 30px;
}

/* Formulaire */
form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff; /* Fond blanc */
  border: solid 3px #b0bec5; /* Bordure bleu-gris moyen */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Champs de formulaire */
form input,
form select,
form textarea {
  font-size: 1em;
  width: 100%;
  border: none;
  border-bottom: 3px solid #b0bec5; /* Soulignement bleu-gris moyen */
  background-color: #ffffff; /* Fond blanc */
  color: #4a6572; /* Bleu-gris foncé */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-bottom: 3px solid #4a6572; /* Bleu-gris foncé au focus */
}

/* Bouton de soumission */
#submit {
  background-color: #b0bec5; /* Bleu-gris moyen */
  color: #ffffff; /* Blanc pur */
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-family: "Fredoka", sans-serif;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #4a6572; /* Bleu-gris foncé */
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b0bec5; /* Bleu-gris moyen */
}

/* Images */
img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Alertes */
.alert {
  color: #4a6572; /* Bleu-gris foncé */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
